<h1>History</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Command</th>
      <th>Cron input</th>
      <th>Success</th>
      <th>Time Run</th>
    </tr>
  </thead>

  <tbody>
    <% @history.each do |past_job| %>
      <% job = Job.find(past_job.job_id) %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.command %></td>
      <td><%= job.cron_input %></td>
      <td><%= past_job.success %></td>
      <td><%= past_job.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>