<div class = "row">
<div class = "col-sm-6">
<h1>History</h1>
</div>
<div class = "col-sm-6">

<%= button_to "Clear", {action: "clear_history", controller: "jobs" }, class: "btn btn-lg btn-default pull-right", confirm: "Are you sure you want to clear the history?" %>
</div>
</div>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Command</th>
      <th>Cron input</th>
      <th>Success</th>
      <th>Time Run</th>
    </tr>
  </thead>

  <tbody>
    <% @history.reverse.each do |past_job| %>
      <% job = Job.find(past_job.job_id) %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.command %></td>
      <td><%= job.cron_input %></td>
      <td><%= past_job.success %></td>
      <td><%= past_job.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
