<h1>Inactive Jobs</h1>

<table class= "table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Command</th>
      <th>Next Run</th>
      <th>Cron Input</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.command %></td>
      <td><%= job.next_time %></td>
      <td><%= job.cron_input %></td>
      <td><%= button_to 'Restart', {controller: "jobs", action: "restart", job: job}, class: "btn btn-sm"%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Job', new_job_path , class: "btn btn-primary btn-lg" %>
