<h1>Active Jobs</h1>

<table class= "table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Command</th>
      <th>Next Run</th>
      <th>Times to Run</th>
      <th>Cron Input</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.command %></td>
      <td><%= job.next_time %></td>
      <td><%= job.times_to_run || "(unlimited)" %></td>
      <td><%= job.cron_input %></td>
      <td><%= button_to 'Cancel', job, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-sm btn-default"%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Job', new_job_path , class: "btn btn-primary btn-lg" %>
